*.egg-info
gfrl/_exp/*
gfrl/_res/*
gfrl/_saved_res/*
gfrl/_res_dev/*
gfrl/_res_pretrain/*
gfrl/_res_latest/*
gfrl/_res_bc/*
gfrl/_test_res/*
gfrl/_academy_1M/
gfrl/_academy_5M/
gfrl/_resv2/*
gfrl/_saved_models/*
/home/ubuntu/ScenicGFootBall/.vscode
